body {
    background-color: rgb(20, 20, 20);
    color: rgb(255, 255, 255);
}

header {
    display: flex;
    justify-content: center;
}
header ul {
    display: flex;
    padding: 10px 10px 50px 10px;
}

li {
    list-style: none;
    margin: 5px 10px;
}
h1 {
  font-size:  130px;
  font-weight: 700;
  margin:  0;
}

.hero-section {
  text-align: center;
  margin-top: 17vh;
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
}

footer li {
  display: flex;
  padding: 30px;
}
